numpy==1.19.2
scipy==1.5.2
pytest==6.1.1
pytest-cov==2.10.1
pylint==2.6.0
manubot==0.4.1
pylogit==0.2.2
statsmodels==0.12.0
pandoc-fignos
pandoc-eqnos
pandoc-tablenos
synapseclient
matplotlib==3.3.2
seaborn==0.11.0
svgutils==0.3.1
git+git://github.com/aarmey/tensorly.git@parafac2-ls
scikit-learn==0.23.2
pybiomart
h5py
